

.contact p { margin-bottom:5px !important;  }


.contact { display: block; width: auto; padding: 0px 0 35px 0; margin: 0px; border: none;  }

/* Form style */

.contact label { display: none; float: none; height:0px; }
/*.contact */input, textarea, select { width: 194px; padding: 9px 12px; border: 1px solid #d8d8d8; margin: 0px 20px 0px 0; font: 12px Helvetica, Arial, Tahoma, sans-serif; color:#888;  float:left; -webkit-box-shadow:0 1px 0 rgba(180, 180, 180, 0.1); -moz-box-shadow:0 1px 0 rgba(180, 180, 180, 0.1); box-shadow:0 1px 0 rgba(180, 180, 180, 0.1); -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
.contact input.third { margin: 0px 0px 0px 0 !important; }
.contact textarea { width: 674px !important; margin-top:5px; margin-bottom:4px; margin-right:0px !important;}
.contact #subject { width: 292px !important; }
/*.contact */input:focus, textarea:focus, select:focus { -webkit-box-shadow:0 1px 0 rgba(180, 180, 180, 0.2); -moz-box-shadow:0 1px 0 rgba(180, 180, 180, 0.2) ; box-shadow:0 1px 0 rgba(180, 180, 180, 0.2); border: 1px solid #c4c4c4; }
/*.contact */input:hover, textarea:hover, select:hover { -webkit-box-shadow:0 1px 0 rgba(180, 180, 180, 0.2) !important; -moz-box-shadow:0 1px 0 rgba(180, 180, 180, 0.2) !important; box-shadow:0 1px 0 rgba(180, 180, 180, 0.2) !important; border: 1px solid #c4c4c4 !important; }
.contact input.submit { display:block; cursor:pointer; position:relative; margin:16px 0 18px 0; font-weight:bold;  color:#fff; text-align:center; font-size:12px; line-height:20px; -webkit-transition: all 0.1s ease-in-out 0s; background-color:#88b10f; width:auto !important; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; border:0px; padding:9px 15px 9px 14px !important; line-height:1.0; font-size:14px; -webkit-box-shadow:0 1px 0 rgba(180, 180, 180, 0); -moz-box-shadow:0 1px 0 rgba(180, 180, 180, 0); box-shadow:0 1px 0 rgba(180, 180, 180, 0);}
.contact input.submit:hover {  background-color:#322b23; -webkit-box-shadow:none !important; -moz-box-shadow:none !important; box-shadow:none !important; border: 0px solid #888 !important; }


.contact fieldset { padding-left:0px;}

.contact span.required { padding-left:28px; background:url(../images/bg-bullet.png) no-repeat 12px 5px; margin-left:-28px; }

#message { margin: 0px 0 20px 0; padding-bottom: 0px; }

.error_message { display: block; height: 22px; line-height: 22px; background: #FBE3E4 url('../images/error.gif') no-repeat 10px center; padding: 3px 10px 3px 35px; color:#8a1f11; border: 1px solid #FBC2C4; -webkit-border-radius:5px;  }

.loader { padding: 22px 0 0 10px; }

.search {background:url(../images/bg-search.png) 10px center no-repeat; padding-left:30px; margin:0px 0 30px 0; width:176px; }